/*------------ настраиваем элементы для всей страницы  ----------- */

*{
    padding: 0;
    margin: 0;
}

body,html{
    width: 100%;
    height: 100%;
    font-family:"TildaSans-Medium" ;
}

span,p{
    line-height: 180%;
}

footer{
    background-color: rgb(249, 252, 255);
    width: 100%;
    height: 400px;
}

h1{
    margin: 0;
}

form{
    background-color: rgb(128, 219, 189);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 0 3px rgb(107, 196, 170);
}

.wrapper{
     min-height: 100%;
     display: flex;
     flex-direction: column;
}

main{
    flex-grow: 1;
}

header{
    position: sticky;
    top: 0;
    background-color: rgb(254, 254, 254);
}

/*------------ настраиваем элементы для всей страницы ----------- */


/*------------ импортируем шрифты ----------- */
@font-face {
    font-family: "TildaSans-Medium";
    src: url("../font/TildaSans-Medium.ttf");
}
@font-face {
    font-family:"TildaSans-Bold" ;
    src: url("../font/TildaSans-Bold.ttf");
}
@font-face {
    font-family:"TildaSans-Light" ;
    src: url("../font/TildaSans-Light.ttf");
}
@font-face {
    font-family:"TildaSans-Regular" ;
    src: url("../font/TildaSans-Regular.ttf");
}

@font-face {
    font-family:"TildaSans-Black" ;
    src: url("../font/TildaSans-Black.ttf");
} 

@font-face {
    font-family:"TildaSans-SemiBold" ;
    src: url("../font/TildaSans-Semibold.ttf");
} 


/*------------ импортируем шрифты ----------- */




/*------------ шапка сайта ----------- */
.header{
    display: flex;
    /* text-align: center; */
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;

}

.header img{
    background-size: cover;
    max-width: 100px;
    max-height: 100px; ;
}

.header ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 46%;
    font-family: "TildaSans-Bold";
    font-size:150% ;
    /* align-items: center; */
}

.header ul li{
    display: inline-block;
    z-index: 1;
}


.header button{
    font-family:"TildaSans-Regular" ;
    background-color: rgb(255, 255, 255);
    font-size: 130%;
    border: 1px solid black;
    padding: 15px 25px;
    border-radius: 4px;
    z-index: 1;
}

.header a{
    text-decoration: none;
    color: black;
}

.header a:hover{
    color:rgb(116, 188, 215); 
    transition: 200ms;
}

.header button:hover{
    transition: 300ms;
    background-color:rgb(116, 188, 215);
    color: rgb(255, 255, 255);
    border: rgb(116, 188, 215);;
}

/*------------ шапка сайта ----------- */




/*------------ содержимое сайта ----------- */

main{
    background-color:rgb(255, 255, 255); 
}

.container > div:nth-child(1){
    display: flex;
    justify-content:center;
    align-items: center;  
    width: 100%;
    height: 53rem;
    background-color:rgb(240, 248, 251);
}

.start-img{
    height: 125%;
    max-width: 100%;
    padding-right: 6%;
}

.container > div:nth-child(1) h1{
   text-align: left;
    font-size: 5em;
    font-family:"TildaSans-Bold";
    padding-bottom: 4px;
}

.container > div:nth-child(1) p{
    font-size: 170%;
    font-family:"TildaSans-Regular";
    max-width: 100%;
    max-height: 100%;
    text-align: left ;
    padding-bottom: 50px;
}

.hero-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    height: 40%;
    align-items: flex-start;
    padding-left: 10%;
}

.container > div:nth-child(1) button{
    background-color: rgb(53, 169, 246); 
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-family:"TildaSans-SemiBold" ;
    padding: 15px 25px;
    font-size: 150%;
}

.container > div:nth-child(1) button:hover{
    background:none;
    border: 1px solid rgb(86, 86, 208);
    color: black;
    transition: 300ms;
}


.container > div:nth-child(2) {
   background-color:rgb(255, 255, 255) ;
    width: 100%;
    height: 120%;
}
.container > div:nth-child(3) {
   background-color:rgb(255, 255, 255) ;
    width: 100%;
}

.techology-it-text,.form-login{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(207, 244, 243);
    height: 700px;
    width: 100%;
}

.techology-it-text img,.form-login img{
    max-width: 80%;
    max-height: 100%;
}

.container > div:nth-child(2) h1,div:nth-child(3) h1,div:nth-child(4) h1{
    font-family:"TildaSans-SemiBold" ;
    font-size:300%;
    text-align: center;
    padding-bottom: 2%;
}

#tittle1{
    font-family:"TildaSans-Bold" ;
    text-align: left;
    padding: 4% 4% 4% 10%;
    font-size:360%;
}

.techology-it-text div,.form-login div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
}



.techology-it-text span{
    font-size: 170%; 
    text-align: justify;
    max-width: 80%;
    font-family:"TildaSans-Light";
    /* padding-left: 10%;
    padding-right: 10%; */
}

.form-login input , select , .send{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 150%;
    border: 1px solid rgb(72, 172, 150);;
}

#send{
    font-size: 120%; 
    padding: 10px 15px; 
    background-color: rgb(53, 169, 246);
    color: rgb(255, 255, 255);
    border: none;
}
.form-login input , select {
    width: 100%;
    font-family:"TildaSans-Light";
    background-color:rgb(218, 247, 234) ;
}

.form-login label{
    font-family:"TildaSans-SemiBold" ;
    font-size: 130%;
}

#send:hover{
    transition: 300ms;
    border: 2px dashed rgb(250, 250, 250);
}
input:focus,select:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgb(107, 196, 170);
}


.send{
    font-family:"TildaSans-Regular" ;
    background-color: rgb(185, 220, 244);
    border: 1px solid black;
    padding: 15px 25px;
    border-radius: 4px;
    margin: 0 auto; 
    margin-top: 10%;
}

















/*------------ содержимое сайта ----------- */

/*------------ футер сайта ----------- */

.footer-form{
    text-align: center;
    width: 100%;
    height: 50%;
    padding: 60px 0 60px;
}

.footer-form div{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 40%;
    justify-content: space-evenly;
    line-height: 20px;
    width: 70%;
}

.footer-form nav{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-form nav{
    
    gap: 15px;
    /* width: 50%;
    height: 50%; */
}

.footer-form button{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border:none;
    background-color: transparent;
}

.footer-form button:nth-child(1){
    background-image:url("../img/vk-icon-blue.svg") ;
}
.footer-form button:nth-child(2){
    background-image:url("../img/telegram-iblue.svg") ;
}
.footer-form button:nth-child(3){
    background-image:url("../img/insta-icon-blue.svg") ;
}
.footer-form button:nth-child(4){
    background-image:url("../img/whatsapp-icon.svg") ;
}

.footer-form button:nth-child(1):hover{
    background-image: linear-gradient(rgb(255,255, 255, 0.4),rgb(255,255, 255, 0.4)), url("../img/vk-icon-blue.svg") ;
}
.footer-form button:nth-child(2):hover{
    background-image: linear-gradient(rgb(255,255, 255, 0.4),rgb(255,255, 255, 0.4)), url("../img/telegram-iblue.svg") ;
}
.footer-form button:nth-child(3):hover{
    background-image: linear-gradient(rgb(255,255, 255, 0.4),rgb(255,255, 255, 0.4)), url("../img/insta-icon-blue.svg") ;
}
.footer-form button:nth-child(4):hover{
    background-image:linear-gradient(rgb(255,255, 255, 0.4),rgb(255,255, 255, 0.4)), url("../img/whatsapp-icon.svg") ;
}
/*------------ футер сайта ----------- */