/* ----- 1. other settings ----- */

@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);

:root{
    --main-color: #151515;
    --blue-color:#0066FF;
    --color-white:#ffffff;
}

*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,html{
    width: 100%;
    height: 100%;
    font-family: "Inter";
    font-size: inherit;
    font-weight: 400;
    line-height: 1.3;
    
}

.body-hidden{
    overflow-y: hidden;
}

ul{

    list-style-type: none;
}

a{
    text-decoration: none;
    color:inherit;
}

.wraper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer{
    width: 100%;
}


.main{
    flex-grow: 1;

}

.section-tittle{
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 700;
}

h3{
    font-size: 24px;
}

/* ----- 1. other settings ----- */

/* ------ 2. header ------ */

.header{
    background-color: var(--main-color);
    font-weight: 700;
}

/* .header-active{
    height: 100vh;
    overflow: visible;
} */

.header-main{
    background-color: transparent;
   position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
 
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 10px 45px;
    /* overflow: hidden; */
}

.menu__list{
    display: flex;
    gap:35px;
}

.menu__list-link{
    text-transform: uppercase;
    color:rgb(255, 255, 255)
    
}

.menu__button{
    display: flex;
    width: 28px;
    height: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border: none;
    display: none;
    transition: all ease-in-out 1s;
}

.menu__button span{
    background-color: #ffffff;
    height: 3px;
    width: 100%;
}

.menu__button-active{

    background-image: url('../img/close.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.menu__button-active span{
    display: none;
}



/* ------ 2. header ------ */


/* ------ 3. main ------ */

.content__top{
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 367px;
    background-color: transparent;
    color: var(--color-white);
    font-weight: 700;
    text-align: center;
    left: 0;
    right: 0;
    width: 70% ;
    margin: 0 auto;
}

.content__top-tittle{
    font-size: 96px; 
    padding-bottom: 38px;  
}

.content__top-btn{
    font-size: 36px;
    max-width: 430px;
    width: 100%;
    background-color: var(--main-color);
    padding: 23px 23px;
    text-transform: uppercase;
    display: inline-block;
}

 /* ------ slider ------ */

.slider{
    overflow: hidden;
    max-width: 100%;
    
}

.slider__squere{
    display: flex;
     
}
.slide{
    transition: opacity 300ms ease-out;
    opacity: 0;
    
}

.slide_active{
    opacity: 1;
}

.slider__pagination{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 707px;
    gap: 30px;
}

.clickArea{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    width: 100%;
    max-height: 100% ;
    top: 0;
    left: 0;
}


.slider__pagination-btn{
    border: none;
    width: 120px;
    min-height: 3px;
    background-color:var(--main-color);
    transition: all 0.3s ease-in-out; 
}

.slider__pagination-btn_active{
    min-height: 6px;
    background-color: #ffffff;
}
 /* ------ slider ------ */

.why-lease{
    margin: 150px 0;
    width: 100%;
    text-align: center;
}

.why-lease__important-things-list{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 40px;
}

.why-lease__list-item__tittle{
    padding: 30px 0 30px;
    font-weight: 700;
    line-height: 58px;
}

.section__list-item__text{
    text-align: left;
    font-size: 16px;
    width: 100%;
}

.howWorkContent{
    max-width: 620px;
    margin: 0 auto 150px;
    
}

.howWorkContent__section-tittle{
    margin-top: 50px;
}

.howWorkContent__section-text,.important-things__list-item__text{
    width: 270px;
}

.howWorkContent__section__list{
    margin: 50px 0 70px;
    counter-reset: myCounter;
    list-style-type: none;
    padding-left: 70px;
}

.howWorkContent__section__list-item{
    counter-increment: myCounter;
    display: flex;
    align-items: center;
    gap: 140px;
    
}

.howWorkContent__section__list-item + .howWorkContent__section__list-item{
    margin-top: 40px;
}

.howWorkContent__section__list-item:before{
    content:counter(myCounter);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    font-weight: 700;
    font-size: 48px;
    color: var(--color-white);
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
}

.section-tittle_howWorkContent{
    margin-bottom: 50px;

}

.video,.important-things{
    text-align: center;
    margin-bottom: 150px;
}

.video__important-things__tittle{
    margin-bottom: 20px;
}

.video__section-tittle{
    margin-bottom: 50px;
}
.video-content {
    width: 1000;
    height: 500px;
    box-shadow: 9px 8px 22px -2px rgba(0, 0, 0, 0.5);
    margin: 30px;
    padding: 30px;
    margin: 50px auto;
}

.important-things__list{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
   
}

.important_things-text{
    max-width: 590px;
    margin: 0 auto 50px;
}


.important-things__list-item__text{
    margin: 20px auto 0 ;
    max-width: 100%;
}

/* ------ 3. main ------ */


/* ------ 4. footer ------ */

.footer{
    width: 100%;
    background-color:var(--main-color);
    color: rgb(242, 239, 239);
    padding: 50px 0 32px;
}

.footer__menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu__list{
    max-width: 225px;
}


.footer__menu-tittle{
    font-weight: 700;
    font-size: 24px;
}

.footer__menu-item + .footer__menu-item{
    padding-top: 20px;
}

.app__list{
    display: flex;
    justify-content: center;
    gap: 39px;
}


.footer__copy{
    margin: 50px auto 30px;
    width: 808px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
}



.copy__nav__menu{
    display: flex;
    justify-content: center;
    gap:40px;

}

/* ----- 4. footer ----- */

/* ----- 5. adaptation ----- */

@media (max-width: 2525px) and (min-width: 890px) {
    .slider__pagination{
        margin-top: calc(170px + (707 - 170) * ((100vw - 897px) / (2550 - 897)));
    }
    .content__top-btn {
        width: calc(198px + (430 - 259) * ((100vw - 897px) / (2550 - 897)));
        font-size: calc(15px + (36 - 16) * ((100vw - 897px) / (2550 - 897)));
        padding: calc(8px + (23 - 14) * ((100vw - 897px)/(2550 - 897)));
    }
    .content__top-tittle{
        font-size: calc(35px + (96 - 35) * ((100vw - 360px)/(2550 - 360)));
        padding-bottom: calc(25px + (38 - 25) * ((100vw - 897px)/(2550 - 897)));
    }
    .content__top{
        padding-top: calc(160px + (367 - 160) * ((100vw - 897px) / (2550 - 897)));
    }

    .slider__pagination-btn{
        width: calc(77px + (120 - 77) * ((100vw - 897px) / (2550 - 897))); ;
    }
}
@media (max-width: 1230px){
    .important-things__list{
        gap: 40px 20px;
    }
    .important-things__list-img{
        width: 100%;
    }
}
@media (max-width: 1080px){

    .video-content {
        width: 92%;
        margin: 0 auto;
    }
    .why-lease__list-item__img{
        width: 30%;
    }
    
@media (max-width: 890px){
     .important-things__list{
        grid-template-columns: repeat(2,1fr);
        padding: 0 30px;
    }

  
   
    .menu__list{
        position: absolute;
        z-index: 10;
        padding-top: 200px;
        background-color: #151515;
        flex-direction: column;
        align-items: center;
        top: 0;
        bottom: 0;
        font-size: calc(13px + (17 - 13) * ((100vw - 360px)/(890 - 360)));
        right: 0;
        height: 100vh;
        width: 50%;
        position: fixed;
        transform: translate(+100%);
        transition: transform 1s ease;
        gap: calc(31px + (51 - 31) * ((100vw - 360px)/(890 - 360)));
        overflow: hidden;
    }
    
    .section-tittle {
        font-size: calc(28px + (48 - 28) * ((100vw - 300px)/(860 - 360)));
    }

    .menu__list.menu__header-active{
        transform: translateX(0%);
    
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .6);
    }
    .menu__button {
        display: flex;
        position: absolute;
        z-index: 11;
        right: 0;
        top: 0;
        margin: 33px 10px;
    }
    .logo {
        position: absolute;
        z-index: 11;
        left: 0;
        top: 0;
        margin: 15px;
}

    .footer__copy {
        width: 100%;
    }
    .video-content {
        height: calc(152px + (500 - 152) * ((100vw - 300px)/(860 - 300)));
}
    .content__top-tittle {
        font-size: calc(28px + (65 - 28) * ((100vw - 360px) / (890 - 360)));
    }
    .content__top-btn {
        font-size: calc(13px + (28 - 13) * ((100vw - 360px) / (890 - 360)));
        width: calc(154px + (355 - 154) * ((100vw - 360px) / (890 - 360)));
        padding: calc(7px + (16 - 7) * ((100vw - 360px) / (890 - 360)));
    }
    .slider__pagination-btn {
        width: calc(42px + (95 - 42) * ((100vw - 360px) / (890 - 360)));
    }
    .slider__pagination {
        margin-top: calc(248px + (511 - 170) * ((100vw - 360px) / (890 - 360)));
        gap: calc(11px + (30 - 11) * ((100vw - 360px) / (890 - 360)));
    }
    .content__top {
        padding-top: calc(505px + (1109 - 160 ) * ((100vw - 897px) / (2550 - 897)));
    }
}}

@media (max-width:1049px){
    .why-lease__important-things-list{
        grid-template-columns: repeat(2,1fr);
        padding: 0 30px;
    }
    .important-things__list-img,.important-things__list-item__text{
        width: 90%;
    }
}

@media (max-width: 700px){
    .footer__menu {
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 62px;
        padding: 0 60px 0px;
    }
    .slider__pagination-btn_active {
        min-height: 4px;
    }
    .menu__button {
        width: 28px;
        height: 24px;
    }

}
@media (max-width: 590px){
    .why-lease__important-things-list {
        grid-template-columns: repeat(1,1fr);
    }
    .why-lease {
        margin: 102px 0;
    }
    .section__list-item__text {
        width: 90%;
        margin: 0 auto;
    }
    .howWorkContent__section__list {
        margin: 40px 0 70px;    
        padding-left: 0;
}
    .howWorkContent__section__list-item:before {
        font-size: 34px;
        min-width: 80px;
        min-height: 80px;
    }
    .important-things__list-item__text {
        width: 72%;
        margin-top: 20px;
    }
    .important-things__list {
        grid-template-columns: repeat(1,1fr);
    }
    .important-things__list-img {
        width: 72%;
    }
    .footer__menu {
        gap: 59px 46px;
        padding: 0px 36px 0px;
    }
    .app__list, .copy__nav__menu {
        align-items: center;
        gap: 39px;
        flex-direction: column;
    }
    .video, .important-things {
        margin-bottom: 104px;
    }
    .important-things__list {
        padding: 55px 5px;
    }
    .howWorkContent__section__list-item {
        gap: 30px;
        flex-direction: column;
}
}
/* ----- 5. adaptation  ----- */